/*header{
  background-image: url(https://images.collegedunia.com/public/asset/img/homepage/banner/Indian1642232499.webp?mode=stretch);
  height: 70vh;
  color: black;
  text-align: center;
background-size: cover;
}*/
